/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.customer-slider button.slick-next {
    right: 80px;
    z-index: 10;
}

.customer-slider button.slick-prev {
    left: 20px;
    z-index: 10;
}

.customer-slider button.slick-next::before {
    color: gray;
    content: "\276F";
    background-color: #ffd3d3;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-slider button.slick-prev::before {
    color: gray;
    content: "\276E";
    background-color: #ffd3d3;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.image-slider button.slick-next {
    right: 0px;
    z-index: 10;
    top: 55px
}

.image-slider button.slick-prev {
    left: 0px;
    z-index: 10;
    top: 55px
}

.image-slider button.slick-next::before {
    color: gray;
    content: "\276F";
    background-color: #1e2ee3;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider button.slick-prev::before {
    color: gray;
    content: "\276E";
    background-color: #1e2ee3;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    appearance: none;
}

/* .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
} */


.my-masonry-grid_column>div {

    margin-bottom: 20px;
}